.body {
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #9f0c0c;
    display: flex;
    height: 100%;
    width: 100%;
    padding: 100px;
}

.login {
    background-color: white;
    padding: 50px;
    border-radius: 5px;
    height: 50vh;
    width: 500px;
}

.login h2 {
    text-align: center;
    margin-bottom: 30px;
    margin-top: -20px;
    color: #d00f0f;
}

.login div {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
input[type="email"]{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    margin-top: 20px;
    font-size: 16px;
    background-color: black;
    color: red;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

input[type="submit"]:hover {
    font-size: 25px;
}
